@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
  padding: 20px;
  box-sizing: border-box;
}

.code-error {
  font-size: 230px;
  font-weight: 700;
  color: var(--secondary);
  
  letter-spacing: 10px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.error-container p {
  font-size: 24px;
  color: var(--primary);

  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
}

.error-container a {
  margin-top: 20px;
  display: inline-block;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained{
  background-color: var(--primary) ;
  color: white ;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
}