.MuiSvgIcon-root.edit-icon {
  color: var(--primary);
  margin-right: 10px;
}

.MuiSvgIcon-root.delete-icon {
  color: var(--danger);
}

.title-movie {
  color: var(--primary);
  font-weight: bold;
}

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.header button {
  margin-left: auto;
}

.MuiSvgIcon-root.add-icon {
  color: var(--success);
}